
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bebas Neue', cursive;
}
p, a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;
    text-decoration: none;
    color: inherit;
}

.header-extention {
    height: 100px;
    background-color: red;
    /* box-sizing: border-box; */
    color: white;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 10px 40px 10px 40px;
}
.header-menu {
    background-color: #222323;
    color: white;
    /* font-size: 1.5rem; */
    font-weight: bold;
}
.logo {
    width: 175px;
}
.menu {
    font-size: 16px;
}
.social-icons {

}
.subheading {
    font-family: 'Bebas Neue', cursive;
    /* font-size: 1.5rem; */
    color: grey;
}
.heading {
    font-size: 3rem;
    /* line-height: 1.5; */
    font-size: 7rem;
    font-weight: 400;

}

.red {
    color: red;
}

/* how to make "Shop now" link bigger? */

.button {
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 1rem;
    background-color: red;
}
